@{
    ViewData["Title"] = localizer["Trials"];
    ViewData["Caption"] = localizer["Manage Trials here"];
}
@using Signaturit.Web.Areas.Catalog.Models
@model TrialViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Trials.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/catalog/trial/OnGetCreateOrEdit','Create Trial')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#trialTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/catalog/trial/LoadAll');
        }
    </script>
}